*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:640px){
    body{
        width: 100vw;
    }
}

header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "hand hand brun brun"
    "hand hand bluegreen bluegreen";
}
@media screen and (max-width: 640px) {
    header{
        grid-template-areas: 
        "hand hand hand hand"
        "brun brun bluegreen bluegreen";
    }
}
.header--hand{
    background-image: url(./assets/hand.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: auto;
    grid-area: hand;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header--brown{
    background-color: #9E6D52;
    grid-area: brun;
    display: flex;
    justify-content: center;
}
.header--bluegreen{
    background-color: #0A846E;
    grid-area: bluegreen;
    display: flex;
    justify-content: center;
}

nav{
    height: auto;
    width: 100%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:640px){
    nav{
        display: none;
    }
}
.nav__link{
    text-decoration: none;
    color: black;
}

main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline{
    text-align: center;
    font-family: monospace;
    font-weight: 500;
    font-size: 500%;
    color: #0A846E;
}

.section__one{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "round round så så"
    "round round så så";
}
@media screen and (max-width:560px){
    .section__one{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "så så"
        "så så"
        "round round"
        "round round";
    }
}
.one--round--bluegreen{
    height: 7rem;
    width: 7rem;
    place-self: center;
    background-color: #0A846E;
    border-radius: 50%;
    grid-area: round;
    display: flex;
    align-items: center;
    justify-content: center;
}
.one--round--img{
    width: 45%;
    height: 45%;
}
.one--så{
    height: auto;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: så;
}
.one--h2{
    margin: 5%;
    font-family: sans-serif;
}
.one--button{
    width: 20vw;
    height: auto;
    align-self: center;
    margin: 5%;
    padding: 5%;
    background-color:#0A846E;
    border-radius: 15%;
    color: white;
    border-style: none;
}

.section__two--line{
    width: 50%;
    height: 1vh;
    background-color: #055647;
    margin: 5%;
}

.section__three--cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "one two three"
    "four five six"
    ". button .";
    place-items: center;
    gap: 2%;
    overflow-y: scroll;
}
@media screen and (max-width:640px) {
    .section__three--cards{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "one two"
        "three four"
        "five six"
        "button button";
    }
}
.section__card--1{
    width: 8rem;
    height: 12rem;
    grid-area: one;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__card--2{
    width: 8rem;
    height: 12rem;
    grid-area: two;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__card--3{
    width: 8rem;
    height: 12rem;
    grid-area: three;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__card--4{
    width: 8rem;
    height: 12rem;
    grid-area: four;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__card--5{
    width: 8rem;
    height: 12rem;
    grid-area: five;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__card--6{
    width: 8rem;
    height: 12rem;
    grid-area: six;
    border: solid 1px rgb(118, 114, 114);
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.three--button{
    grid-area: button;
    background-color: #0A846E;
    margin: 5%;
    padding: 3%;
    border-radius: 13%;
    color: white;
    border-style: none;
}
.card--img{
    width: 8rem;
    height: 8rem;
}
.article--card{
    display: flex;
    flex-wrap: wrap;
}
.card--h3{
    font-size: 80%;

}
.card--p{
    font-size: 80%;
}
.card--p--opacity{
    opacity: 0.8;
    font-size: 80%;
}
.card--button{
    margin-left: auto;
    margin-top: auto;
    width: 50%;
    height: 50%;
    padding: 1.5%;
    grid-area: button;
    background-color: #9E5277;
    border-radius: 20%;
    color: white;
    border-style: none;
}
@media screen and (max-width:700px){
    .card--button{
        display: none;
    }
}

.section__four{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "article article round round"
    "article article round round";
    margin: 5%;
}
@media  screen and (max-width: 560px) {
    .section__four{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "round round"
        "round round"
        "article article"
        "article article";
    }
}
.article__four{
    grid-area: article;
    margin-top: auto;
}
.four--h3{
    margin: 5%;
}
.four--button{
 background-color: #0A846E;
 color: white;
 margin: 5%;
 padding: 5%;
 border-radius: 15%;
 border-style: none;
}
.four--round--bluegreen{
    place-self: center;
    width: 7rem;
    height: 7rem;
    background-color: #0A846E;
    grid-area: round;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four--round--img{
    width: 45%;
    height: 45%;
}

footer{
    width: 100%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "h3 h3 six six"
    "five five six six"
    "button button button button";
    background-image: url(./assets/handandfield.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 640px){
    footer{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "six six"
        "h3 h3"
        "five five"
        "button button";
    }
}
.section__five{
    height: 100%;
    grid-area: five;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-end;
    background-color: black;
    opacity: 0.8;
}
@media screen and (max-width:640px){
    .section__five{
        flex-direction: column;
        align-items: center;
    }
}
.footer--h3{
    background-color: black;
    opacity: 0.8;
    margin-top: 5%;
    color: white;
    font-size: 400%;
    font-family: monospace;
    margin-top: auto;
    grid-area: h3;
    text-align: center;
    align-self: flex-end;
}
.footer--p{
    color: white;
    font-size: 70%
}
.section__six{
    margin-top: 5%;
    grid-area: six;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__six--img{
    height: 50%;
}
.footer--button{
    grid-area: button;
    padding: 1%;
    position: sticky;
}

