*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:640px){
    body{
        width: 100vw;
    }
}

nav{
    height: auto;
    width: 100%;
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:640px){
    nav{
        display: none;
    }
}
.nav__link{
    color: #055647;
    text-decoration: none;
}

.header--background-hand{
    width: 100%;
    background-image: url(./assets/handandfield.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5%;
}
.header__burgir--mobilemode{
    display: none;
}
@media screen and (max-width:640px){
    .header__burgir--mobilemode{
        display: flex;
        align-self: flex-end;
    }
}
.header__img{
    width: 30%;
    padding: 5%;
}
.header__h1{
    font-size: medium;
    margin-bottom: 5%;
}

.form__h2{
    font-size: medium;
    margin-bottom: 5%;
}
.form__input{
    border-style: none;
    margin-bottom: 10%;
}
.form__button{
    background-color: #0A846E;
    color: white;
    border-style: none;
    margin: 5%;
    padding: 2%;
    border-radius: 5%;    
}

.section__one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.section__two{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.section__card--1, .section__card--2, .section__card--3{
    width: 10rem;
    height: 14rem;
    margin: 5%;
    grid-area: one;
    border: solid 1px rgb(118, 114, 114);
    display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-areas: 
   "img img"
   "h3 p"
   "po btn";
}
@media screen and (max-width:670px){
    .section__card--1, .section__card--2, .section__card--3{
        grid-template-areas: 
        "img img"
        "h3 p"
        "po delete";
    }
}
.card--img{
    width: 10rem;
    height: 8rem;
    grid-area: img;
}
.card--h3{
    font-size: 80%;
    grid-area: h3;
}
.card--p{
    font-size: 80%;
    grid-area: p;
}
.card--p--opacity{
    grid-area: po;
    opacity: 0.8;
    font-size: 80%;
}
.card--button{
    width: 3rem;
    height: 1rem;
    grid-area: btn;
    padding: 1.5%;
    background-color: #9E5277;
    border-radius: 20%;
    color: white;
    border-style: none;
    font-size: 5%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
@media screen and (max-width:670px){
    .card--button{
        display: none;
    }
}
.delete{
    display: none;
}
@media screen and (max-width:670px){
    .delete{
        display: grid;
        grid-area: delete;
        margin-left: auto;
        margin-right: auto;
    }
}
footer{
    margin-top: 20%;
    width: 60vw;
}

.section__three--gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "one two three four";
    background-color:#9E6D52;
    justify-items: center;
}
@media screen and (max-width:850px){
    .section__three--gallery{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "one two"
        "three four";
    }
}
.gallery--img-1{
    grid-area: one;
    width: 8rem;
    height: 8rem;
    padding: 5%;
}
.gallery--img-2{
    grid-area: two;
    width: 8rem;
    height: 8rem;
    padding: 5%;
}
.gallery--img-3{
    grid-area: three;
    width: 8rem;
    height: 8rem;
    padding: 5%;
}
.gallery--img-4{
    grid-area: four;
    width: 8rem;
    height: 8rem;
    padding: 5%;
}
.footer__button{
    width: 100%;
    height: 20%;
}